$black: #414141;
$darkGray: #444444;
$gray: #888888;
$lightGray: #EEEEEE;
$lightBlue: #C2EEFF;
$lightPink: #FFBEDA;
$lightOrange: #FFC7AF;
$orange:#FF9933;
$darkOrange: #FF4F02;
$lightBeige: #FFFAFA;
$beige: #f6f5f0;
$brown: #701e00;
$darkRed: #990033 ;
$red: #dc143c;
$facebook:#305097;
$twitter:#00aced;
$amazon: #febd69;