$black: #111111;
$darkGray: #444444;
$gray: #888888;
$lightGray: #EEEEEE;
$lightOrange: #FFC7AF;
$darkRed: #990033 ;
$lightPink: #FFBEDA;
$lightBlue: #C2EEFF;
$blue: #3399FF;
$orange:#FF9933;
$darkOrange: #FF4F02;
$lightBeige: #FFFAFA;
$beige: #FDF5E6;