.recipeRanking
  %h1.mainTitle 人気のレシピ
  %ul.bigThumRecipes
    - @rankings.each do |recipe|
      %li.bigThumRecipe
        = link_to recipe_path(recipe) do
          =image_tag recipe.image.to_s, class: "bigThumRecipe__image"
          %h4.bigThumRecipe__title=recipe.name
          %p.bigThumRecipe__user="投稿者：#{recipe.user.nickname}"
