.recipeSteps.clearfix
  .recipeStep
    .recipeStep__stepNum 
      STEP .
      %span 1
    .recipeStep__stepDetail.claerfix
      %image.recipeStep__stepDetail__pic{src: '/assets/katsu1.jpg'}
      %p.recipeStep__stepDetail__comment なかなかいい感じですなあ。なかなかいい感じですなあ。なかなかいい感じですなあ。なかなかいい感じですなあ。なかなかいい感じですなあ。なかなかいい感じですなあ。なかなかいい感じですなあ。なかなかいい感じですなあ。なかなかいい感じですなあ。
  .recipeStep
    .recipeStep__stepNum 
      STEP .
      %span 2
    .recipeStep__stepDetail.claerfix
      %image.recipeStep__stepDetail__pic{src: '/assets/katsu1.jpg'}
      %p.recipeStep__stepDetail__comment なかなかいい感じですなあ。なかなかいい感じですなあ。なかなかいい感じですなあ。なかなかいい感じですなあ。なかなかいい感じですなあ。なかなかいい感じですなあ。
  .recipeStep
    .recipeStep__stepNum 
      STEP .
      %span 3
    .recipeStep__stepDetail.claerfix
      %image.recipeStep__stepDetail__pic{src: '/assets/katsu1.jpg'}
      %p.recipeStep__stepDetail__comment なかなかいい感じですなあ。なかなかいい感じですなあ。なかなかいい感じですなあ。あああ
  .recipeStep
    .recipeStep__stepNum 
      STEP .
      %span 4
    .recipeStep__stepDetail.claerfix
      %image.recipeStep__stepDetail__pic{src: '/assets/katsu1.jpg'}
      %p.recipeStep__stepDetail__comment なかなかいい感じですなあ。なかなかいい感じですなあ。なかなかいい感じですなあ。
  .recipeStep
    .recipeStep__stepNum 
      STEP .
      %span 5
    .recipeStep__stepDetail.claerfix
      %image.recipeStep__stepDetail__pic{src: '/assets/katsu1.jpg'}
      %p.recipeStep__stepDetail__comment なかなかいい感じですなあ。なかなかいい感じですなあ。なかなかいい感じですなあ。
  .recipePoint.recipeInfoBox.margin
    %h6.recipeInfoBox__title コツ・ポイント
    %p.recipeInfoBox__content 何も考えるな。とにかくやってみろ。卵を割れ。豚をさばけ。何も考えるな。とにかくやってみろ。卵を割れ。豚をさばけ。何も考えるな。とにかくやってみろ。卵を割れ。豚をさばけ。何も考えるな。とにかくやってみろ。卵を割れ。豚をさばけ。何も考えるな。とにかくやってみろ。卵を割れ。豚をさばけ。
  %p.recipeDate
    公開日：18/9/4　更新日：18/9/5