.clearfix
  .recipe
    .recipePankuzu
      %p トップ　＞　家具・照明　＞　トンカツ風の机
    %h3.recipeTitle トンカツ風の机
    .recipeFavo.clearfix
      .recipeFavo__like 
        =fa_icon 'heart'
        %p いいね
      .recipeFavo__favo
        =fa_icon 'star'
        %p お気に入り
      .recipeFavo__facebook
        =fa_icon 'facebook-square'
        %p シェアする
      .recipeFavo__twitter.noMarginRight
        =fa_icon 'twitter-square'
        %p ツイートする
    .recipeTop.clearfix
      %image.recipePhoto{src: '/assets/katsu1.jpg'}
      .recipeDetail
        %h6 制 作 費 用： 20,000円
        %h6 制 作 時 間： 6年
        %h6 完成サイズ： h200xw200xd200
        %h6.comment ひとこと
        %p なんかとっても暇だったので、ちょっと作ってみました。豚を倒すのがちょっと難しかったかな。
    .recipeMates
      .recipeMate.margin
        %h6.recipeMate__title 使用した材料
        %ul.recipeMate__materials
          %li トンカツ
          %li 卵
      .recipeMate
        %h6.recipeMate__title 使用した工具
        %ul.recipeMate__materials
          %li おたま
          %li スプーン
          %li ボウル
          %li お箸
    %a.amazonButton
      =fa_icon 'amazon'
      Amazonで購入する
    .recipeSteps
      .recipeStep
        .recipeStep__stepNum Step 1
        .recipeStep__stepDetail.claerfix
          %p.recipeStep__stepDetail__comment なかなかいい感じですなあ
          %image.recipeStep__stepDetail__pic{src: '/assets/katsu1.jpg'}

