.content.clearfix
  .recipe
    .recipePankuzu
      %p トップ　＞　家具・照明　＞　トンカツ風の机
    %h3.recipeTitle トンカツ風の机
    .recipeTop.clearfix
      %image.recipePhoto{src: '/assets/katsu1.jpg'}
      .recipeDetail
        %h6 制 作 費 用： 20,000円
        %h6 制 作 時 間： 6年
        %h6 完成サイズ： h200xw200xd200
        %h6.comment ひとこと
        %p なんかとっても暇だったので、ちょっと作ってみました。豚を倒すのがちょっと難しかったかな。
    .recipeFavo
      %a.recipeFavo__like 
        =fa_icon 'like' 
        いいね：１
      %a.recipeFavo__favo お気に入り：１
      %a.recipeFavo__facebook シェアする
      %a.recipeFavo__twitter.noMarginRight ツイートする
    .recipeMates
    .recipeSteps
