.clearfix
  .recipe
    .recipePankuzu
      %p="トップ　＞　#{@recipe.category.large_category.name}　＞　#{@recipe.category.name}"
    %h3.recipeTitle=@recipe.name
    %a.recipeAuthor{href:'#'} 投稿者：そばめし
    .recipeFavo.clearfix
      .recipeFavo__like 
        =fa_icon 'heart'
        %p いいね
      .recipeFavo__favo
        =fa_icon 'star'
        %p お気に入り
      .recipeFavo__facebook
        =fa_icon 'facebook-square'
        %p シェアする
      .recipeFavo__twitter.noMarginRight
        =fa_icon 'twitter-square'
        %p ツイートする
    .recipeTop.clearfix
      %image.recipePhoto{src: '/assets/katsu1.jpg'}
      .recipeDetail
        %h6
          制 作 費 用：
          %span=@recipe.cost
        %h6
          制 作 時 間：
          %span=@recipe.build_time
        %h6
          完成サイズ：
          %span=@recipe.size
        %h6.comment ひとこと
        %p=@recipe.comment
        .tags
          %h6.comment タグ一覧
          %a{href: '#'}
            =fa_icon 'tag'
            トンカツ
          %a{href: '#'}
            =fa_icon 'tag'
            時短レシピ
          %a{href: '#'}
            =fa_icon 'tag'
            千円以下
          %a{href: '#'}
            =fa_icon 'tag'
            嫁に欲しい
          %a{href: '#'}
            =fa_icon 'tag'
            何かよくわからない
    .recipeMates
      .recipeMate.recipeInfoBox.margin
        %h6.recipeInfoBox__title 使用した材料
        %ul.recipeInfoBox__contents
          -if @materials_mate.present?
            - @materials_mate.each do |mate|
              %li.affiTitle
                %p=mate.name
                %a.affiLink.clearfix{href:'#'}
                  %image.affiLink__img{src:'/assets/katsu1.jpg'}
                  %p.affiLink__name いい感じの豚骨やああああああああああああああああああ
                  %p.affiLink__price ¥2,000
      .recipeMate.recipeInfoBox
        %h6.recipeInfoBox__title 使用した工具
        %ul.recipeInfoBox__contents
          -if @materials_tool.present?
            - @materials_tool.each do |tool|
              %li.affiTitle
                %p=tool.name
                %a.affiLink.clearfix{href:'#'}
                  %image.affiLink__img{src:'/assets/katsu1.jpg'}
                  %p.affiLink__name いい感じの豚骨やああああああああああああああああああ
                  %p.affiLink__price ¥2,000
    %a.amazonButton
      =fa_icon 'amazon'
      Amazonで購入する
    .recipeSteps.clearfix
      -if @steps.present?
        -@steps.each.with_index(1) do |step, i|
          .recipeStep
            .recipeStep__stepNum 
              STEP .
              %span=i
            .recipeStep__stepDetail.claerfix
              -unless step.image.blank?
                %image.recipeStep__stepDetail__pic{src: "#{step.image}"}
              %p.recipeStep__stepDetail__comment=step.content
    =render 'show_post'
    =render 'show_related_recipes'